.env
*.so
.vscode

demos/form/uploads/*
!demos/form/uploads/.gitkeep

projects/uploads/*
!projects/uploads/.gitkeep
!projects/uploads/avatars
projects/uploads/avatars/*
!projects/uploads/avatars/.gitkeep

projects/whooshee/*
!projects/whooshee/.gitkeep