[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
celery = "*"
redis = "*"
flask-ckeditor = "*"
tablib = "*"
bootstrap-flask = "*"
flask-debugtoolbar = "*"
unidecode = "*"
flask-login = "*"
sentry-sdk = "==0.6.6"
raven = "*"

[requires]
python_version = "3.7"
