{% extends 'base.html' %}

{% block title %}flask-wtf demo{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Image</h1>
    </div>
    <div class="container">
        {% for image in images %}
            <span>{{ loop.index }}</span>
            <div style="width: 100px; height: 100px; display: inline-block; border: 1px solid #000; margin: 5px;">
                <img data-action="zoom" style="max-width: 100%; max-height: 100%; vertical-align: top;" src="{{ image }}" alt="{{ image }}" />
            </div>
        {% endfor %}
    </div>
{% endblock %}
